/* You can add global styles to this file, and also import other style files */
body {
    background: #f10101;
    background: #f6f9ffb9;
    overflow-x: hidden;
    font-family: Euclid Circular B,-apple-system,BlinkMacSystemFont,Helvetica,Arial;
}